
/*Responsive Stuff*/

@media only screen and (max-width : 1446px) {
	
.vmenu {
  top: 0;
  width: 100%;
  height: 90px;
}
.vmenu li {height:100%;float: left;width: 25%;}

.backbut {
	background: rgba(0, 0, 0, .7);
	top:120px;
}
		
}



@media only screen and (max-height : 600px) {
	
.logo img {
	width:58px;
	height:50px;
}
.containerhome {margin-top:130px;
position:relative;transform:none;}
.containerhome h1 {font-size:54px;padding-top:0px;}
.containerhome p {font-size:13px;}
}