@charset "utf-8";
/* CSS Document */

/*****************************************
	
    *Author			Bryan Maxim
	*Website		www.bryanmaxim.com
		
 *****************************************/
/*
	TABLE OF CONTENTS
	---------------------------
	 01. Body
	 02. Background Image & Overlay Color
	 03. Vertical Menu
	 04. HomePage
	 05. About Us
	 06. Our Services
	 07. Contact Us
	 08. Subscribe Now
	 09. CountDown
	 10. Next&Back Buttons
	
 **  *************************************** **/



/* == 01. Body == */
body {
	margin:0;
	font-family: 'Raleway', sans-serif;
}

.stilo {
	color:#ccc7a9 !important;
}

/*Start PreLoader*/
.loader {position: fixed;z-index: 10000;top: 0;right: 0;bottom: 0;left: 0;background:#000;}
.loaderimg {left:50%;width:30px;height:30px;background:url(../img/1.gif) no-repeat; position:absolute;top:50%;margin-left:-15px;margin-top:-15px;}
/*End PreLoader*/

/*Clear Div*/
.clear {clear:both;}
/*A Space*/
.aspace {margin-top:30px;}
/* == 02. Background Pattern & Overlay Color == */
@keyframes bgscroll {
	from {background-position:0 0;}
	to {background-position:-1220px 0;}
}

@-webkit-keyframes bgscroll {
	from {background-position:0 0;}
	to {background-position:-1220px 0;}
}
.bgimg {
	background:url(https://api.byteamone.cn/Poster-background.php) repeat;
	background-size: cover;
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	top:0;
	z-index:-9999;
	animation: bgscroll 40s infinite linear;
	-webkit-animation: bgscroll 40s infinite linear;
}

.overlaybg {position:fixed;left:0;right:0;top:0;bottom:0;z-index:-1;background: rgba(0, 0, 0, .2);}

/* == 03. Vertical Menu == */

.vmenu {
	position:absolute;
	left:0;
	top:0;
	width:130px;
	height:100%;
	z-index:99;
	background: rgba(28, 28, 28, .5);
}
.vmenu ul {
	margin:0;
	padding:0;
	height:100%;
}
.vmenu li {list-style:none;height:25%;position:relative;}
.vmenu li a {
	float:left;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	font-weight:400;
	z-index:5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.vmenu li a:hover {color:#ccc7a9;background: rgba(0, 0, 0, .6);}
.vmenu i {width:100%;font-size:20px;padding-bottom:10px;}
.menubut {width:100%;position:absolute;top:50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}


/* == 04. HomePage == */

.containerhome {
	width:100%;
	position:absolute;
	top:50%;
	overlay:scroll;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align:center;
}
.containerhome h1 {color:#fff;font-size:85px;font-weight:300;letter-spacing:10px;padding-top: 14px;}
.containerhome p {color:#fff;font-size:15px;font-weight:300;letter-spacing:1.5px;}
.subscribenow {width:170px;height:42px;margin-left:auto;margin-right:auto;margin-top:30px;margin-bottom: 30px;}
.subscribenow a {
	width:100%;
	height:100%;
	float:left;
	border:2px solid #fff;
	padding-top:9px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	font-weight:400;
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.subscribenow a:hover {background:#fff;color:#000;text-decoration:none;}

/* == 05. About Us == */
#about-page{display:none;}
.containerabout {
	width:100%;
	margin:170px 0px 70px 0;
	text-align:left;
}
.containerabout h3 {font-size:45px;font-weight:400;color:#fff;text-transform:uppercase;letter-spacing: 4px;}
.containerabout p {font-size:14px;font-weight:300;color:#fff;line-height:35px;letter-spacing:1px;margin:35px 0 35px 0;}


.galleryitem  {
	width:100%;
	height:130px;
	background:#ccc;
	margin-bottom:50px;
	overflow:hidden;
	position:relative;
}
.galleryitem a {outline:none;}
.galleryitem img {width:100%;cursor:default;vertical-align: middle;}
.viewitem {
	width:90px;
	height:30px;
	background:#000;
	position:absolute;
	right:0;
	bottom:0;
}
.viewitem a {
	width:100%;
	height:30px;
	float:left;
	text-align:center;
	text-transform:uppercase;
	font-size:13px;
	color:#fff;
	padding-top:7px;
	letter-spacing:1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.viewitem a:hover {color:#ccc7a9;}

.infoitem {
	background: rgba(28, 28, 28, .7);
	letter-spacing:1px;
	font-size:14px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	height:65px;
	cursor:default;
	padding-top:23px;
	text-align:center;
	margin-bottom:25px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.infoitem:hover {background: rgba(28, 28, 28, .8);}

/* == 06. Our Services == */
#services-page{display:none;}
.containerservices {
	width:100%;
	margin:170px 0px 70px 0;
	text-align:left;
}
.containerservices h3 {font-size:45px;font-weight:400;color:#fff;text-transform:uppercase;letter-spacing: 4px;}

.service {
	width:100%;
	margin-top:50px;
	margin-bottom:30px;
	height:330px;
	text-align:center;
	cursor:default;
	border-right:1px dashed #333;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.service:hover {background: rgba(0, 0, 0, .7);}
.service i {width:100%;float:left;color:#fff;font-size:65px;padding:55px 0px 55px 0px;}
.service span {font-size:25px;color:#fff;font-weight:400;}
.service p {font-size:15px;color:#fff;padding:5px 0px 15px 0px;}
.moredetails {font-size:13px;font-weight:600;color:#b4af91;text-transform:uppercase;}

.owl-theme .owl-controls .owl-page span {
	width:30px;
	height:5px;
	float:left;
	margin-right:5px;
	margin-bottom:15px;
	background:#2c2f36;
	text-align:center;
}
.owl-theme .owl-controls .owl-page.active span {background:#ccc7a9;}
.owl-theme .owl-controls.clickable .owl-page:hover span {background:#ccc7a9;}

/* == 07. Contact Us == */
#contactus-page {display:none;}
.containercontact {
	width:100%;
	margin:170px 0px 70px 0;
	text-align:left;
}
.containercontact h3 {font-size:45px;font-weight:400;color:#fff;text-transform:uppercase;letter-spacing: 4px;}

/*Contact Form Section of Contact Page*/

.contact-form {
	width:100%;
	height:230px;
	margin-bottom:30px;
}
.contact-form input {width:100%;height:48px;background: rgba(0, 0, 0, .4);border:0;outline:none;text-transform:uppercase;color:#9b9c9e;padding:0px 15px 0px 15px;letter-spacing:1px;}
.contact-form textarea {width:100%;height:75px;margin-top:30px;float:left;color:#fff;background: rgba(0, 0, 0, .4);border:0;outline:none;resize:none;text-transform:uppercase;padding:15px;letter-spacing:0.7px;}
.control-name {
	width:48%;
	float:left;
	height:48px;
	margin-right:4%;
}
.control-email {
	width:48%;
	height:48px;
	float:left;
}
.control-message {
	width:100%;
	height:75px;
	float:left;
}
.control-submit {
	width:100%;
	height:48px;
	float:left;
	margin-top:59px;
}
.control-submit button {
	text-transform:uppercase;
	background: rgba(0, 0, 0, .8);
	border:0;
	width:100%;
	height:48px;
	outline:none;
	color:#ccc7a9;
	letter-spacing:1px;
	font-weight:600;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.control-submit button:hover {
	color:#ccc7a9;
	background: #111;
}
.status-message-contact {
	font-size:15px;
	margin:0px 0px 0px 0px;
	text-align:center;
}

/*Map Section of Contact Page*/

#map {
	width:100%;
	height:230px;
}

/*Social Section of Contact Page*/
.socialitem {
	width:100%;
	height:120px;
	float:left;
	background: rgba(28, 28, 28, .5);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin:20px 0px 20px 0px;
}
.socialitem:hover {
	background: rgba(0, 0, 0, .8);
}
.socialitem a {
	width:100%;
	float:left;
	height:120px;
	text-align:center;
	font-size:34px;
	color:#fff;
	padding-top:35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.socialitem a:hover {color:#ccc7a9;}


/* == 08. Subscribe now == */
#subscribe-page {display:none;}
.latestnews {
	font-size:16px;
	font-weight:400;
	color:#fff;
	letter-spacing:1px;
}
/*Begin Subscribe Form*/
.subscribec {
	margin:20px 0px 50px 0px;
	position:relative;
}
.subscribec input {
	border:0;
	border-radius:0;
	outline:none;
	width:100%;
	height:52px;
	background: rgba(28, 28, 28, .6);
	font-size:14px;
	color:#9b9c9e;
	text-transform:uppercase;
	padding:0px 150px 0px 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.subscribec input:hover {
	background: rgba(0, 0, 0, .8);
}
.subscribec button {
	background:#ccc7a9;
	color:#fff;
	width:112px;
	height:36px;
	border:0;
	position:absolute;
	right:8px;
	outline:none;
	top:8px;
	letter-spacing:1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.subscribec button:hover {
	background:#d8d3b7;	
}
/*End Subscribe Form*/

.comingsoon {padding-bottom:20px;}
.comingsoontext {font-size:15px;color:#fff;letter-spacing:1px;line-height:32px;}

/* == 09. Begin CountDown == */
.count {
	background: rgba(28, 28, 28, .5);
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	height:154px;
	list-style:none;
	margin-top:20px;
	padding-top:30px;
	cursor:default;
}
.count:hover {background: rgba(0, 0, 0, .8);}
.count span {
	font-size:36px;
	color:#fff;
}
.count p {
	font-size:16px;
	font-weight:300;
	color:#fff;
	padding-top:10px;
}
/*End CountDown*/

/* == 10. Begin Next&Back Buttons == */

/*NextButton*/

.nextbut {
	width:200px;
	height:46px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	background: rgba(28, 28, 28, .5);
}
.nextb {
	width:100%;
	height:46px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	text-align:center;
	font-size:14px;
	padding-top:13px;
	text-transform:uppercase;
	letter-spacing:1.2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nextb:hover {color:#fff;background: rgba(0, 0, 0, .7);}

/*BackButton*/

.backbut {
	width:70px;
	height:50px;
	background: rgba(28, 28, 28, .5);
	position:absolute;
	top:0;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.backb {
	width:100%;
	height:50px;
	float:left;
	text-align:center;
	font-size:30px;
	padding-top:2px;
	color:#d8d8d8;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.backb:hover {
	color:#d8d8d8;
	background: rgba(0, 0, 0, .7);
}